a.svelte-4ugehk{color:white}.active.svelte-4ugehk{font-weight:bolder}
nav.svelte-1ox89i7{font-weight:300;padding:0 1em}
img.svelte-1e32aj7{width:200px;height:200px;object-fit:cover;border-radius:50%
    }
span.svelte-eyqt1q{font-size:30px}
.home.svelte-quz37t{height:100vh}
.home.svelte-clqeey{text-align:center;background-color:#333}
.sider.svelte-1ws4nnt{position:fixed;width:300px;height:100%;background-color:#333}
.content.svelte-1ezv763{position:absolute;left:300px;padding:16px}
h1.svelte-8od9u6,p.svelte-8od9u6{margin:0 auto}h1.svelte-8od9u6{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8od9u6{margin:1em auto}@media(min-width: 480px){h1.svelte-8od9u6{font-size:4em}}
