a.svelte-4ugehk{color:white}.active.svelte-4ugehk{font-weight:bolder}
nav.svelte-1ox89i7{font-weight:300;padding:0 1em}
img.svelte-1e32aj7{width:200px;height:200px;object-fit:cover;border-radius:50%
    }
span.svelte-1p3jm59{font-size:30px;color:#ddd}
